workflow.n8n.json
{
  "name": "SosMed Auto · Generate & Post (TikTok / Instagram / Facebook)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sosmed-auto",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1a2b3c4d-0001-0000-0000-000000000001",
      "name": "Webhook · Terima dari Dashboard",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 320],
      "webhookId": "sosmed-auto"
    },
    {
      "parameters": {
        "jsCode": "// Caption generator berbasis template — tidak butuh AI / API berbayar\nconst { topic, template, platforms, schedule } = $json.body || $json;\n\nconst clean = (topic || '').toLowerCase().replace(/\\s+/g, '');\n\nconst templates = {\n  promo: () => `🔥 PROMO SPESIAL! 🔥\\n\\n${topic} hadir dengan penawaran terbaik buat kamu!\\n\\n✨ Kualitas premium\\n✨ Harga bersahabat\\n✨ Stok terbatas\\n\\nYuk order sekarang! Link di bio 👆\\n\\n#promo #${clean} #flashsale`,\n  tips: () => `💡 TIPS HARI INI 💡\\n\\nMau tahu cara terbaik soal ${topic}?\\n\\n1. Mulai dari hal kecil\\n2. Konsisten setiap hari\\n3. Evaluasi tiap minggu\\n\\nTag temanmu! 🙌\\n\\n#tips #${clean} #edukasi`,\n  tutorial: () => `🎬 TUTORIAL: ${(topic||'').toUpperCase()}\\n\\nIkuti step by step di video ini.\\n\\n✅ Mudah diikuti\\n✅ Tanpa alat ribet\\n\\n#tutorial #howto #${clean}`,\n  testimoni: () => `⭐ TESTIMONI PELANGGAN ⭐\\n\\n\\\"${topic}\\\" — kata pelanggan setia kami 😍\\n\\nDM untuk order!\\n\\n#testimoni #review`,\n  behindscene: () => `🎥 BEHIND THE SCENE\\n\\nBeginilah proses di balik ${topic}.\\n\\nDetail = hasil maksimal 💪\\n\\n#bts #process`\n};\n\nconst caption = (templates[template] || templates.promo)();\n\nreturn [{\n  json: {\n    topic,\n    template,\n    caption,\n    platforms: platforms || ['tiktok','instagram','facebook'],\n    schedule: schedule || new Date(Date.now() + 3600000).toISOString(),\n    requestedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "1a2b3c4d-0002-0000-0000-000000000002",
      "name": "Code · Generate Caption (Template)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 320]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
                "conditions": [
                  {
                    "leftValue": "={{ new Date($json.schedule).getTime() > Date.now() + 60000 }}",
                    "rightValue": "true",
                    "operator": { "type": "boolean", "operation": "true", "singleValue": true }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "scheduled"
            }
          ]
        },
        "options": { "fallbackOutput": "extra", "renameFallbackOutput": "post-now" }
      },
      "id": "1a2b3c4d-0003-0000-0000-000000000003",
      "name": "Switch · Schedule vs Post Now",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [680, 320]
    },
    {
      "parameters": {
        "amount": "={{ Math.max(60, Math.floor((new Date($json.schedule).getTime() - Date.now()) / 1000)) }}",
        "unit": "seconds"
      },
      "id": "1a2b3c4d-0004-0000-0000-000000000004",
      "name": "Wait · Sampai Jadwal",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [900, 220],
      "webhookId": "wait-sosmed"
    },
    {
      "parameters": {
        "fieldToSplitOut": "platforms",
        "options": {}
      },
      "id": "1a2b3c4d-0005-0000-0000-000000000005",
      "name": "Split · Per Platform",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1120, 320]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "options": { "caseSensitive": true }, "conditions": [{ "leftValue": "={{ $json.platforms }}", "rightValue": "tiktok", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "tiktok" },
            { "conditions": { "options": { "caseSensitive": true }, "conditions": [{ "leftValue": "={{ $json.platforms }}", "rightValue": "instagram", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "instagram" },
            { "conditions": { "options": { "caseSensitive": true }, "conditions": [{ "leftValue": "={{ $json.platforms }}", "rightValue": "facebook", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "renameOutput": true, "outputKey": "facebook" }
          ]
        },
        "options": {}
      },
      "id": "1a2b3c4d-0006-0000-0000-000000000006",
      "name": "Switch · Route Platform",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1340, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.tiktokapis.com/v2/post/publish/video/init/",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "tiktokOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"post_info\": {\n    \"title\": \"{{$('Code · Generate Caption (Template)').item.json.caption.split('\\n')[0]}}\",\n    \"description\": \"{{$('Code · Generate Caption (Template)').item.json.caption}}\",\n    \"privacy_level\": \"PUBLIC_TO_EVERYONE\",\n    \"disable_duet\": false,\n    \"disable_comment\": false,\n    \"disable_stitch\": false\n  },\n  \"source_info\": {\n    \"source\": \"PULL_FROM_URL\",\n    \"video_url\": \"{{$json.videoUrl}}\"\n  }\n}",
        "options": {}
      },
      "id": "1a2b3c4d-0007-0000-0000-000000000007",
      "name": "HTTP · Post ke TikTok",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1620, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{$credentials.igUserId}}/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "media_type", "value": "REELS" },
            { "name": "video_url", "value": "={{$json.videoUrl}}" },
            { "name": "caption", "value": "={{$('Code · Generate Caption (Template)').item.json.caption}}" }
          ]
        },
        "options": {}
      },
      "id": "1a2b3c4d-0008-0000-0000-000000000008",
      "name": "HTTP · Post ke Instagram Reels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1620, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{$credentials.pageId}}/videos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "file_url", "value": "={{$json.videoUrl}}" },
            { "name": "description", "value": "={{$('Code · Generate Caption (Template)').item.json.caption}}" }
          ]
        },
        "options": {}
      },
      "id": "1a2b3c4d-0009-0000-0000-000000000009",
      "name": "HTTP · Post ke Facebook Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1620, 480]
    },
    {
      "parameters": {
        "jsCode": "// Konsolidasi hasil & log\nconst items = $input.all();\nconst summary = {\n  total: items.length,\n  succeeded: items.filter(i => !i.json.error).length,\n  failed:    items.filter(i =>  i.json.error).length,\n  completedAt: new Date().toISOString()\n};\nreturn [{ json: summary }];"
      },
      "id": "1a2b3c4d-0010-0000-0000-000000000010",
      "name": "Code · Konsolidasi Hasil",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1880, 320]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"queued\",\n  \"caption\": $('Code · Generate Caption (Template)').item.json.caption,\n  \"platforms\": $('Code · Generate Caption (Template)').item.json.platforms,\n  \"schedule\": $('Code · Generate Caption (Template)').item.json.schedule\n}",
        "options": {}
      },
      "id": "1a2b3c4d-0011-0000-0000-000000000011",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 540]
    }
  ],
  "connections": {
    "Webhook · Terima dari Dashboard": {
      "main": [[
        { "node": "Code · Generate Caption (Template)", "type": "main", "index": 0 }
      ]]
    },
    "Code · Generate Caption (Template)": {
      "main": [[
        { "node": "Switch · Schedule vs Post Now", "type": "main", "index": 0 },
        { "node": "Webhook Response", "type": "main", "index": 0 }
      ]]
    },
    "Switch · Schedule vs Post Now": {
      "main": [
        [{ "node": "Wait · Sampai Jadwal", "type": "main", "index": 0 }],
        [{ "node": "Split · Per Platform", "type": "main", "index": 0 }]
      ]
    },
    "Wait · Sampai Jadwal": {
      "main": [[
        { "node": "Split · Per Platform", "type": "main", "index": 0 }
      ]]
    },
    "Split · Per Platform": {
      "main": [[
        { "node": "Switch · Route Platform", "type": "main", "index": 0 }
      ]]
    },
    "Switch · Route Platform": {
      "main": [
        [{ "node": "HTTP · Post ke TikTok", "type": "main", "index": 0 }],
        [{ "node": "HTTP · Post ke Instagram Reels", "type": "main", "index": 0 }],
        [{ "node": "HTTP · Post ke Facebook Page", "type": "main", "index": 0 }]
      ]
    },
    "HTTP · Post ke TikTok": {
      "main": [[{ "node": "Code · Konsolidasi Hasil", "type": "main", "index": 0 }]]
    },
    "HTTP · Post ke Instagram Reels": {
      "main": [[{ "node": "Code · Konsolidasi Hasil", "type": "main", "index": 0 }]]
    },
    "HTTP · Post ke Facebook Page": {
      "main": [[{ "node": "Code · Konsolidasi Hasil", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "versionId": "demo-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "description": "Demo workflow: Dashboard → Webhook → Template Caption → Scheduler → Multi-platform posting (TikTok, Instagram Reels, Facebook Page). Untuk presentasi ke klien Sribu/freelance."
  },
  "tags": [
    { "name": "social-media" },
    { "name": "automation" },
    { "name": "demo" }
  ]
}
